# Easier navigation: .., ..., ~ and -
alias ..="cd .."
alias cd..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'

alias chmox='chmod -x'

alias where=which # sometimes i forget
alias brwe=brew  #typos

alias hosts='sudo $EDITOR /etc/hosts'   # yes I occasionally 127.0.0.1 twitter.com ;)

alias ag='ag -f --hidden'

###
# GIT STUFF

function clone() {
    git clone --depth=1 $1
    cd $(basename ${1%.*})
    yarn install
}

alias ga="g add"
alias gaa="ga . && gs"
alias gm="g commit -m"
alias gam="ga . && gm"
alias gb="g branch"
alias gc="g commit"
alias gco="g checkout"
alias gcom="gco main 2>/dev/null || gco master"
alias gcos="gco staging"
alias gcod="gco dev"
alias gcob="gco -b"
alias gcm="gco master"
alias gd="g diff"
alias gdc="g diff --cached"
alias gs="g status"
alias gl="g pull"
alias glg='git lg'
alias gpom="gl origin main 2>/dev/null || gl origin master"
alias gpos="gl origin staging"
alias gpod="gl origin dev"
alias gf="g fetch"
alias gp="g push"
alias gmm="g merge main 2>/dev/null || g merge master"
alias grh="g hreset"
alias grn="g rename"

# Undo a `git push`
alias undopush="git push -f origin HEAD^:master"

# git root
alias gr='[ ! -z `git rev-parse --show-cdup` ] && cd `git rev-parse --show-cdup || pwd`'

alias prc='gh pr create --web'
alias prv='gh pr view --web'

alias dc='docker compose'
alias dcu='docker compose up'
alias dcl='docker compose logs'

alias k='kubectl'
alias kl='k logs'
alias kgp='k get pods'

alias grb="gradle build"
alias grcb="gradle clean build"

alias ls="exa"
alias ll="exa -alh"
alias tree="exa --tree"

if command -v bat > /dev/null; then
    alias cat="bat"
fi

alias gitmainormaster="git branch --format '%(refname:short)' --sort=-committerdate --list master main | head -n1"
alias main="git checkout \$(gitmainormaster)"
alias master="main"


# Networking. IP address, dig, DNS
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
# alias dig="dig +nocmd any +multiline +noall +answer"
# wget sucks with certificates. Let's keep it simple.
alias wget="curl -O"

# Recursively delete `.DS_Store` files
alias cleanup_dsstore="find . -name '*.DS_Store' -type f -ls -delete"

alias diskspace_report="df -P -kHl"
alias free_diskspace_report="diskspace_report"

# Shortcuts
alias g="git"
alias gi="git"
alias v="vim"
alias ungz="gunzip -k"


# mvn
alias mvv='mvn -v'
alias mci='mvn clean install'
alias mciT='mvn clean install -DskipTests'
alias mciTT='mvn clean install -Dmaven.test.skip'
alias mcd='mvn clean deploy'alias mcdT='mvn clean deploy -DskipTests'
alias mcdTT='mvn clean deploy -Dmaven.test.skip'
alias mp='mvn package'
alias mpT='mvn package -DskipTests'
alias mpTT='mvn package -Dmaven.test.skip' 
alias mve='mvn verify'
alias mcv='mvn clean verify'
alias mcve='mvn clean verify'
alias mcp='mvn clean package'
alias mcpT='mvn clean package -DskipTests'
alias mcpTT='mvn clean package -Dmaven.test.skip'
alias mc='mvn clean'
alias mct='mvn clean test'
alias mgs='mvn generate-sources'
alias mrr='mvn release:prepare release:perform -DperformRelease=true -DignoreSnapshots=false'

# java
alias -g j='java'
alias -g jc='javac'
alias -g jj='java -jar'
alias -g jv='java -version'
alias -g jcv='javac -version'
alias -g jp='javap -v -l -p -c -s'

# File size
alias fs="stat -f \"%z bytes\""

# Empty the Trash on all mounted volumes and the main HDD. then clear the useless sleepimage
alias emptytrash=" \
    sudo rm -rfv /Volumes/*/.Trashes; \
    rm -rfv ~/.Trash/*; \
    sudo rm -v /private/var/vm/sleepimage; \
    rm -rv \"/Users/juanprado/Library/Application Support/stremio/Cache\";  \
    rm -rv \"/Users/juanprado/Library/Application Support/stremio/stremio-cache\" \
"
