[user]
  email = juan@juanpabloprado.com
  name = Juan Prado
[pager]
  branch = false
[alias]
  c = commit -am
	fpush = push --force
	s = status
	ts = status # I do the `gi ts` typo all the time
  st = status
  amend = commit --amend --all --no-edit
	undocommit = reset HEAD~
	hreset = reset --hard
  co = checkout
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit
  unstage = reset HEAD --
  # Delete any merged branches, ignoring the active branch.
  tidy = !git branch --merged | grep -E -v '(master|staging)' | grep -E -v '^\\*' | xargs git branch -d
  
  # If you do `git git status`, this sorts out the duplicate
	git = !exec git
[pull]
  rebase = false
